*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system, sans-serif;
}

:root {
    --bg-color:#fff;
    --snd-bg-color:#d5fdf9;
    --text-color:#000;
    --main-color:#007f73;
}

html{
    font-size: 80.5%;
    overflow-x: hidden;
}

body.dark {
    --bg-color:#0f172a;
    --snd-bg-color:#020617;
    --text-color:#e5e7eb;
    --main-color:#38bdf8;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
    background: var(--main-color);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;
}

.logo{
    color: var(--bg-color);
    font-size: 3rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover{
    transform: scale(1.05);
}

.navbar a{
    color: var(--bg-color);
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 2rem;
    transition: 0.3s ease;
}

.navbar a:hover,

.navbar a.active{
    color: var(--snd-bg-color);
}

#menu-icone{
    color: var(--bg-color);
    font-size: 3.6rem;
    cursor: pointer;
    display: none;
}

/*home section code*/

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img{
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    object-fit: cover;
    /*border: 5px solid var(--main-color);*/
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    animation: floatImage 4s ease-in-out infinite;
    transition: 0.4s ease;
}

.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 35px var(--main-color),
                0 0 45px var(--main-color);
    transform: scale(1.05);
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.home-content {
    margin-left: 3rem;
}

.home-content h3{
    font-size: 2.5rem;;
    margin-bottom: 0rem;
    font-weight: 650;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: var(--main-color);
}

.home-content h1{
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p{
    font-size: 1.6rem;
}

/*.social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
}
*/

.social-media a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 0;
    transition: 0.3s ease;
}

.social-media a:hover{
    transform: scale(1.2) translateY(-10px);
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 25px var(--main-color);
}

.btn{
    display: inline-block;
    padding: 0.8rem 2rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 50px;
    margin-top: 2rem;
    transition: 0.3s ease;
}

.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}

/*About section styling*/

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    background: var(--snd-bg-color);
}

.about-imge img{
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    object-fit: cover;
    /*border: 5px solid var(--main-color);*/
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    animation: floatImage 4s ease-in-out infinite;
    transition: 0.4s ease;
}

.about-imge img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 35px var(--main-color),
                0 0 45px var(--main-color);
    transform: scale(1.05);
}

.heading{
    font-size: 5rem;
    text-align: left;
}

.about-content{
    padding: 0 4rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content  h3{
    font-size: 3rem;
}

/*services section styling*/

.services h2{
    margin-bottom: 5rem;
    text-align: center;
}

.services-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.services-container .services-box {
    width: 30rem;
    padding: 2rem;
    background: var(--snd-bg-color);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 0.3s ease;
    border: 0.3rem solid var(--bg-color);
}

.services-container .services-box:hover {
    transform: scale(1.02);
    box-shadow: 0 0 25px var(--main-color);
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 2.6rem;
}

.services-box p {
    font-size: 1.4rem;
    margin: 1rem 0  3rem;
}

/*Contact section styling*/

.contact{
    background: var(--snd-bg-color);
}

.contact .heading{
    text-align: center;
}

.contact h2{
    margin-bottom: 3rem;
    color: var(--main-color);
}

.contact form{
    max-width: 80rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 0.8rem;
    border: 0.25rem solid var(--main-color);
    margin: 0.7rem 0;
    resize: none;
}

.contact form .input-box input{
    max-width: 49%;
    margin: 0.7rem 0.35rem;
}

.contact form .btn{
    margin-top: 2rem;
}

/*Footer styling*/

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--snd-bg-color);
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}

.footer .social a{
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease;
}

.footer .social a:hover{
    transform: scale(1.2) translateY(-10px);
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 25px var(--main-color);
}

.footer .copyright{
    text-align: center;
    color: var(--text-color);
    font-size: 1.2rem;
}

/*Responsive design*/

@media (max-width: 1200px) {
    html{
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header{
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3%;
    }
    .services{
        padding: 7rem;
    }
    .contact form .input-box input {
        width: 100%;
    }
    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 991px){
    #menu-icone{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 225px;
        min-height: 100vh;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        transition: all 0.5s ease;
        /*backdrop-filter: blur(10px);*/
        background: rgba(0, 127, 115, 0.9);

    }
    .navbar a{
        display: block;
        padding: 17px;
        font-size: 22px;
    }
    .navbar.active{
        right: 0;
    }
    .home {
        flex-direction: column;
    }
    .home-content h3 {
        font-size: 2.6rem;
    }
    .home-content h1 {
        font-size:5rem;
    }
    .home-content {
        order: 2;
        margin-left: 1rem;
    }
    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }
    .about {
        flex-direction: column-reverse;
    }
    .about-imge img {
        width: 70vw;
        margin-top: 4rem;
    }
    .services h2 {
        margin-bottom: 3rem;
    }
}

@media (max-width: 617px){
    .home-img img{
        width: 70vw;
        margin-top: 8rem;
    }
    .about-imge img {
        width: 70vw;
        margin-top: 4rem;
    }
}

@media (max-width: 617px){
    html{
        font-size: 50%;
    }
}
/*Scroll animation*/
.reveal{
    opacity: 0;
    transform: translateY(60px);
    transition: 1s ease;
}

.reveal.active{
    opacity: 1;
    transform: translateY(0);
}
